footer.page-footer.white-text
	.container: .row(style='margin-bottom:0px')
		.col.s12.l6
			h5 Help Us Help You
			p.light Baasket relies on donations to pay for hosting.<br>Not seeing your favorite services? <br>Please consider contributing content!
			//.row
				a.col.s6.l5.btn.waves.waves-light(href='#', target='blank') Donate
				a.col.s6.l5.offset-l1.btn.waves.waves-light(href='./contribute.html') Contribute

		.col.s4.l2
			h5 Support
			ul
				li: a(href='./index.html') Donate
				li: a(href='./contribute.html') Contribute

		.col.s4.l2
			h5 Links
			ul
				li: a(href='./index.html') Home
				li: a(href='./about.html') About
				li: a(href='./terms.html' target='blank') Terms

		.col.s4.l2
			h5 Connect
			ul
				li: a(href='http://twitter.com/baasketio', target='blank') Twitter
				li: a(href='http://github.com/poindexd/baasket', target='blank') GitHub
				li: a(href='http://baasket.herokuapp.com', target='blank') Chat

	.footer-copyright(style='background-color:transparent'): .container &copy; 2016 Dan Poindexter